<header class="site-header">
  <div class="wrapper">
    <pre><code class="javascript" style="margin-bottom: -30px;margin-top: 30px;">import <a class="page-link" href="{{ site.baseurl }}/">home</a> from 'home';</code></pre>
    {% assign pages = site.pages | sort:"weight"  %}
    {% for my_page in pages %}
      {% if my_page.title %}
        <pre><code class="javascript" style="margin-bottom: -30px">import <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a> from '{{ my_page.title }}';</code></pre>
      {% endif %}
    {% endfor %}
  </div>
</header>
