#facebook {
  :hover {
    fill: #3b5998;
  }
}

#linkedin {
  :hover {
    fill: #0077b5;
  }
}

#twitter {
  :hover {
    fill: #1da1f2;
  }
}

#instagram {
  :hover {
    fill: #833ab4;
  }
}

#youtube {
  :hover {
    fill: #cd201f;
  }
}

#github {
  :hover {
    fill: #666666;
  }
}

ul li {
  display: inline;
}

li {
  padding: 15px;

}

ul {
  display:table; margin:0 auto;
  padding-bottom: 45px;
  a:hover {
    text-decoration: none;
  }
  svg {
    fill: #333;
    width: 45px;
    height: 45px;
  }
}
