#facebook {
  :hover {
    fill: #3B5998;
  }
}

#linkedin {
  :hover {
    fill: #0077B5;
  }
}

#twitter {
  :hover {
    fill: #1DA1F2;
  }
}

#instagram {
  :hover {
    fill: #833AB4;
  }
}

#youtube {
  :hover {
    fill: #cd201f;
  }
}

#github {
  :hover {
    fill: #666;
  }
}

ul li {
  display: inline;
}

li {
  padding: 15px;
}

ul {
  display:table; margin:0 auto;

  a:hover {
    text-decoration: none;
  }

  svg {
    fill: $text-color;
    width: 45px;
    height: 45px;
  }
}
