<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        <ul id="rig">
        {% for image in page.images %}
            <li>
                <a class="rig-cell" href="{{ image.high_res_path }}">
                    <img class="rig-img" src="{{ image.image_path }}">
                    <span class="rig-overlay"></span>
                    <span class="rig-text">{{ image.title }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>






<!--<div>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg06.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg09.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg09.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
    <!--<a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg10.jpg">-->
        <!--<figure>-->
            <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg10.jpg" alt="">-->
            <!--<figcaption>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua-->
            <!--</figcaption>-->
        <!--</figure>-->
    <!--</a>-->
<!--</div>-->











{% include footer.html %}

</body>

</html>
