<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        {{ content }}
        <ul class="project-list">
            {% for project in site.projects reversed %}
            <li>
                <h2>
                    <a href="{{ project.link }}"> {{ project.title }}</a>
                </h2>
                {{ project.excerpt }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include footer.html %}

</body>

</html>
